body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

img{
    max-width: 100%;
}

nav{
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #FFF870;
}

.links {
    display: inline;
    color: black;
    text-align: center;
    padding: 14px 16px;
  }
  
.links:hover {
    background-color: gold; 
  }

.comment-card, #comments-list, #article-likes{
    margin: 1rem;
    padding: 15px;
    border: 1px solid #888888 ;
    border-radius: 25px;
}

.comment-card{
    box-shadow: 10px 10px 8px #888888;
}